
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0;
   
    box-sizing: border-box;
   
}
.navelements {
    background-color: #303030;
 align-items: center;
 justify-content: space-around;
 display: flex;
 padding: 20px;
}
.navelements ul{
    display: flex;
}

.navelements ul li {
list-style-type: none;
margin-inline: 10px;
}
nav ul li a {
    text-decoration: none;
    color: white;

}
.ul li{
    display: flex;
}
.icons {
    color: white;
    position: relative;
  
    
}
.icons i{
    padding: 0px 20px;
}
.logo{
    color: white;
}
#landing1{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.new1{
    color: #6E6E73;
font-size: 17px;
font-family: SF Pro Text;
font-weight: 400;
line-height: 25px;
word-wrap: break-word;
}

.BB{
    color: #2CA2B4;
font-size: 48px;
font-family: SF Pro Display;
font-weight: 700;
line-height: 52.01px;
word-wrap: break-word;
}
.PRICE{
    color: #1D1D1F;
font-size: 21px;
font-family: SF Pro Display;
font-weight: 400;
line-height: 29px;
letter-spacing: 0.23px;
word-wrap: break-word
}
.tableth{
   
   margin-left: auto;
   margin-right: auto;
 border-spacing: 50px;
 
  
}

#heading{

color: #1D1D1F;
font-size: 48px;
font-family: SF Pro Display;
font-weight: 700;
line-height: 52.01px;
word-wrap: break-word;
text-align: center;
padding-top: 60px;
padding-bottom: 60px;
}


.navelements2 {
  
padding: 40px;
 
}
.navelements2 ul {
    display: flex;

}
.space{
    justify-content:space-evenly;
    list-style-type: none;
}
#landing3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    line-height: 29px;
    }
    #landing4 {
        display: flex;
        flex-direction: row;
        align-items: center;
       
        line-height: 29px;
        }
        #alignment2{
            align-items: center;
            justify-content: space-between;
            display: flex;
            flex-direction: column;
            padding-left: 50px;
        }
    #rightside{
      padding-left: 500px;
       
       
    }
   #landing5{
    background-image: url(./images/5landing.png);
 height:100vh;
 background-size: cover;
 align-content: center;

   }
#landing7{
    background-color:#01012A ;
    align-items: center;
    display: flex;
    flex-direction: row;
    margin: 35px;
    justify-content: space-around;
  
   }
   #adjustment{
  margin-left: 35%;
  margin-bottom: 20%;
  margin-top: 5%;

   }

  
   .tourguide{
    color: white;
font-size: 24px;
font-family: SF Pro Display;
font-weight: 700;
line-height: 28px;
letter-spacing: 0.22px;
word-wrap: break-word;
   }
.fourteen{

    color: white;
font-size: 48px;
font-family: SF Pro Display;
font-weight: 700;
line-height: 52.01px;
word-wrap: break-word;
}
.watchthefilm{
    color: black;
font-size: 17px;
font-family: SF Pro Text;
font-weight: 400;
line-height: 20px;
word-wrap: break-word;

}
#alignment{
    padding-left: 100px;
    padding-top: 350px;
}
#bottom1{
    color: #0066CC;
    font-size: 21px;
    font-family: SF Pro Display;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0.23px; 

}
#bottom2{
    color: #0066CC;
    font-size: 21px;
    font-family: SF Pro Display;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0.23px;

}
#spanning{
   padding-left: 600px;
   padding-bottom: 100px;
   color: #0066CC;
font-size: 21px;
font-family: SF Pro Display;
font-weight: 400;
line-height: 29px;
letter-spacing: 0.23px;
word-wrap: break-word
   
}
#spanning2{
    padding-left: 100px;
    padding-bottom: 100px;
    color: #0066CC;
font-size: 21px;
font-family: SF Pro Display;
font-weight: 400;
line-height: 29px;
letter-spacing: 0.23px;
word-wrap: break-word
   
}
#section22{
    justify-content: space-between;

}
#middle{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}


